### Python Flow Control & Function

1. Python Flow Control
    
    A. Python if...else
    
    B. Python For Loop
    
    C. Python While Loop
    
    D. Python break and continue
    
    E. Python Pass

2. Python Functions

    A. Python Function
    
    B. Function Argument
    
    C. Python Recursive
    
    D. Anonymous Function

### Python if.....else Statement

In [1]:
# Example

a = 45
b = 34
if a > b :
    print("a is grater then b")
    print(b)
print(a,b)

a is grater then b
34
45 34

### Python if....elif....else Statement

In [2]:
# Example 

a = 'r'
b = 'R'
c = 'j'

if a > b :
    print(a)
    
elif b > c :
    print(b)
    
else :
    print(c)

r

### Python Nested if Statement

In [3]:
# Example

num = float(input("Enter a number :"))  # input function take on input from keyboard
if num >= 0 :
    if num == 0 :
        print("Zero")
    else :
        print("Positive Number")
else :
    print("Negative Number")

Enter a number :20
Positive Number

### Quiz

In [4]:
# Write on output of the following code

a = 33
b = 200
if b > a :
    print("b is greater than a")

b is greater than a

In [6]:
# Correct if any error and write  on output of the following code

a = 'ram'
b = 'sam'
if b > a :
    print(" b is grater than a")
elif a == b :
    print("a and b are equal")

 b is grater than a

In [7]:
a= 20
b = 10
if a > b : print("a is grater than b")  # right or wrong

a is grater than b

In [8]:
print("A") if a > b else print("B")   # right or wrong

A

In [9]:
x = 22
y = 022
print("x") if x > y else print("x")

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-9-56898a331393>, line 2)

In [10]:
# The and keyword is a logical operator, and is used to combine conditional statement 

a = 3
b = 2
c = 0

if a> b and b > c :
    print(c)

0

In [11]:
# The and keyword is a logical operator, and is used to combine conditional statement 

if a>b or b > c :
    print(c)

0

### The Pass Statement

In [12]:
a = int(input(" Input value of A :"))  # By default input function return string 
b = int (input(" Input Value of B :"))

 Input value of A :20
 Input Value of B :40

In [13]:
type(a)

int

In [14]:
a = int(input(" Input value of A :"))  # By default input function return string 
b = int (input(" Input Value of B :"))

if b > a :
    pass
else :
    print(b)

 Input value of A :20
 Input Value of B :70

In [15]:
a = int(input(" Input value of A :"))  # By default input function return string 
b = int (input(" Input Value of B :"))

if b > a :
    
else :
    print(b)

IndentationError: expected an indented block (<ipython-input-15-c1a92cf0e534>, line 6)

### while Loop

In [16]:
# While loop with else

t = 0
while t < 10 and t % 2 == 0 :
    print ("{} Even Number ".format(t))
    t = t + 1
else :
    print ("{} Odd Number ".format(t))
print (t)

0 Even Number
1 Odd Number
1

### Break

In [17]:
# Example

s = "Foor loop"
for c in s :
    if c > 'p' :
        break
    print(c)
print("End")

F
o
o
End

### Continue

In [18]:
# Example

s = "Foor loop"
for c in s :
    if c > 'p':
        continue
    print(c)
print("End")

F
o
o

l
o
o
p
End

In [76]:
# Write a program to print given string except artical

str = "GUJARAT vidhyapith"

list = ['a', 'e', 'i', 'o', 'u','A', 'E', 'I', 'O', 'U']

for i in str :
    if i in list :
        continue
    print(i)

G
J
R
T

v
d
h
y
p
t
h

### For Loop

In [20]:
for i in range(10) :
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
# Even Number

for i in range(10) :
    if i % 2 == 0 :
        print(i)

0
2
4
6
8

In [22]:
# Odd Number

for i in range(10) :
    if i % 2 != 0 :
        print(i)

1
3
5
7
9

In [23]:
for i in range(1,10,2) :
    print(i)

1
3
5
7
9

In [24]:
for i in range(0,10,2) :
    print(i)

0
2
4
6
8

### Functions

#### Types of Functions

1. Built-in functions - Functions that are built into python.


2. User-defined functions - Functions defined by the users themselves.

#### Syntax

In [25]:
def function_name(parameteres) :
    
    """docstring"""
    statement(s)

In [26]:
# Write a function for print string a in reverse

def Srev(mystring) :
    print(mystring[::-1])

In [27]:
s = "Gujarat Vidhyapith"
print(Srev(s))

htipayhdiV tarajuG
None

### Home Work

#### can we write the function with in the function ?

In [28]:
# outer function
def function1():
    
    print ("Hello from outer function")
    
    # inner function
    def function2(): 
        
        print ("Hello from inner function")
        
    function2()

function1()

Hello from outer function
Hello from inner function

### Docstrings

In [29]:
def Srevers(string) :
    """
    Function print string in reverse order
    Hello
    """
    print (string[::-1])

In [30]:
Srevers('Gujarat')

tarajuG

In [31]:
print (Srevers.__doc__)

    Function print string in reverse order
    Hello

### Home Work

#### Any other way to write docstring ..... ?

The docstrings are declared using  '''  triple single quotes ''' .

In [32]:
def intro() :
    
    ''' 
    This Function Print Hello Shradhdha 
    '''
    print("Hello Shradhdha")
    
intro()

Hello Shradhdha

### Home Work

In [33]:
# Write a function to find out minimum value from the list

def MyMin(x) :
    MinValues = x[0]
    for i in x :
        if i < MinValues :
            MinValues = i
    return MinValues

In [34]:
MyList = [2,4,6,1,50,20]

print("Minimum Value of the list is :",MyMin(MyList))

Minimum Value of the list is : 1

In [35]:
# Write a function to find out maximum value from the list

def MyMax(x) :
    MaxValues = x[0]
    for i in x :
        if i > MaxValues :
            MaxValues = i
    return MaxValues

In [36]:
MyList = [2,4,6,50,20,150]

print("Maximum Value of the list is :",MyMax(MyList))

Maximum Value of the list is : 150

In [37]:
# Write a function to find out average value from the list

def MyAverage(list) :
    return sum(list) / len(list)

In [38]:
list = [10, 20, 30, 40, 50, 60, 70, 80, 90]
print("Average of the list is :",MyAverage(list))

Average of the list is : 50.0

In [13]:
# Write a function to find out distance

def MyDistance() :
    
     res = ((((x2 - x1 )**2) + ((y2-y1)**2) )**0.5)

In [14]:
# x1=int(input("Enter Value Of x1 : "))

# x2=int(input("Enter Value Of x2 : "))

# y1=int(input("Enter Value Of y1 : "))

# y2=int(input("Enter Value Of y2 : "))

list = [40, 60, 0, 60]

MyDistance()

print("Distance Between",(x1,x2),"And",(y1,y2),"is : ",res)

NameError: name 'res' is not defined

### Scope and Lifetime of variables

In [54]:
# Example - Scope of the variable

x = 'global'
def square(x) :
    return x * x
    print(x)
print('Value of x :',x)

Value of x : global

In [55]:
x = 'global'
def square(x) :
    return x * x
    print(x)
square(5)

# nonLocal x

# gLobal x

25

In [56]:
x = 'global'
def square(y) :
    global x
    print(x)
    print(y * y)
square(5)

global
25

In [57]:
x = 'global'
def square(y) :
    return y *y

In [58]:
# nonlocal

def myfunc1():
  x = "John"
  def myfunc2():
    x = "hello"
  myfunc2()
  return x

print(myfunc1())

John

### Arguments

In [60]:
# Example do_sum

square(10)

100

In [61]:
# Example do_sum

def hello(g,name) :
    print("Hello {} {}".format(g,name))

In [62]:
hello("Good Morning","Shradhdha")

Hello Good Morning Shradhdha

### Python Default Arguments

In [63]:
# Example of optional parameter z= None

def add_num(a, b, c=None) :
    if (c == None) :
        return a + b
    else :
        return a + b + c

In [64]:
add_num(1,2,5)

8

In [65]:
# Example of optional parameter z = None flag = True

def air_cal(a, b, c = None, flag = True) :
    if(flag) :
        if(c == None) :
            return a + b
        else :
            return a + b + c
    else :
        print('Function not Performed')

In [66]:
# air_cal(1,2,3,False)

air_cal(1,2,3,True)

6

### Python keyword Arguments

In [67]:
# Example of Keyword arguments

def air_cal(a, b, c = 'add', flag = True) :
    if(flag) :
        if(c == 'add') :
            return a + b
        else :
            return a - b
    else :
        print('Function not Performed')

In [68]:
air_cal(1,2,'add',True)

3

In [69]:
def air_cal(a, b, c = 'add', flag = True) :
    if(flag) :
        if(c == 'add') :
            return a + b
        else :
            return a - b
    else :
        print('Function not Performed')

In [70]:
air_cal(1,2,'a',True)

-1

### Python Recursion

In [71]:
def fact(no) :
    if(no == 1) :
        return 1
    else :
        return no * fact(no - 1)
fact (3)

6

In [72]:
def fact(no) :
    if(no <= 1) :
        return 1
    else :
        return no * fact(no - 1)
fact (3.2)

8.448000000000002

In [ ]:
# What is the output of following code

def rec() :
    rec()
rec()

### Python Anonymous / Lambda Function

<b>Syntax

lambda arguments : expression

In [73]:
def square(a) :
    return a * a
type(square)

function

In [74]:
mysquare = lambda x : x * x
# type(mysquare)

mysquare(5)

25

In [1]:
# Example of 'map()' function using lambda in function as an arguments

l = [1, 2, 3, 4]
l1 = list(map(lambda x : x + 2, l))
l1

[3, 4, 5, 6]

### Quiz

1. Can function return multiple values ? (y/n)
2. If not why ?
3. If yes than how what is the return type .

#### 1. Can function return multiple values ? (y/n)

yes

#### 3. If yes than how what is the return type .

In [1]:
def calc(a , b) :
    return (a + b, a - b, a * b, a / b)

In [2]:
a = calc(20,10)
print(a)
type(a)

(30, 10, 200, 2.0)

tuple

### Variable number of arguments (Positional Keyword)

In [3]:
def arithmatic(*no) :
    for i in  no :
        print(i)
    print(len(*no))
    print(type(no))

In [4]:
t = (10, 20)
arithmatic(t)
type(t)

(10, 20)
2
<class 'tuple'>

tuple

In [5]:
# Example of positional argument

def cal(*no) :
    for i in no :
        print(i)
    print(len(no))

In [6]:
t = (10,20,30,40)
cal(t)

(10, 20, 30, 40)
1

In [7]:
# Example of kwargs argument and both 

def keyarg(**stu) :
    for key, val in stu.items() :
        print(key, val)
keyarg(f='>= 60%', s='>= 49%',p = ' >= 35%', F='< 35%')

f >= 60%
s >= 49%
p  >= 35%
F < 35%

In [8]:
def keyarg(**stu) :
    for key, val in stu.items() :
        print(key, val)
keyarg(f='a', s='b', t='c')

f a
s b
t c

In [9]:
def myFun(s, **kwargs) :
    print(s)
    for key,val in kwargs.items() :
        print("%s == %s" %(key,val))
        print("{} == {}".format(key,val))
# Driver code

myFun('Pujya', first = 'Mohandas', mid = 'k', last ='Gandhi')

Pujya
first == Mohandas
first == Mohandas
mid == k
mid == k
last == Gandhi
last == Gandhi