### First python program

In [6]:
gretting ="Hello"
print(gretting)

Hello

### Variable

In [4]:
s='Hello Word'
i=10
f=10.0
F=50.4
b=True

type(s) #Type is function to check variable type

str

### Rules For Variable Name

In [1]:
# Write five invalid variable name 

1no = 10   # Start with number
while = 20   # Keyword name
@name = 'Shradhdha'   # Starting with special symbol
My - name = 'Kiyana'   # Cannot assign to operator
Python Operator = 'Arithmatic'   # Not allow space

SyntaxError: invalid syntax (<ipython-input-1-d6f2b9a4954f>, line 3)

In [2]:
# Write Five Valid Variable Name

_Myvar = 'First'   # Start with underscore
name = 'neil'   # Start with letter
Age2 = 22   # Ends with numbers
AGE = 25   # Uppercase letter
str_ = 'Hello Word'   # Ends with underscore
str_

'Hello Word'

### Python Data Type

In [5]:
 # Focused on integer, Float, String and boolen only
 # Type() function
 # s = "xyz"
 type(s) == str

True

### Boolean

In [6]:
True or False # Logical disjunction
False or False

False

In [7]:
True and False # Logical disjunction

False

In [8]:
True and 0

0

In [9]:
not True # Logical negation

False

In [10]:
# write an output
c = True + 4
c= c + 3
c

8

### Quiz

In [11]:
print([] or False)

False

In [12]:
print(False or 'Hello')

Hello

In [13]:
print(2.5 or False)

2.5

In [14]:
print(True and 1)

1

In [15]:
print (True and 'K')

K

In [16]:
print(k and k)

NameError: name 'k' is not defined

In [17]:
print(0 and r)

0

### String

In [18]:
s = "string"
s = "vidhyapith"
s[0] = "V"

TypeError: 'str' object does not support item assignment

In [19]:
# Example 

print("gvp") # print outputs text to the screen (discarding the quotes).

gvp

In [21]:
# string concatinations special use of '+' operator
'gvp-' + 'ahmedabad campus'

# What is the output of following expression
# 'gvp' + "Ahmedabad"

'gvpAhmedabad'

In [22]:
# What is the output of the following expression

ક = ' જય હિન્દ ' * 3
ક

' જય હિન્દ  જય હિન્દ  જય હિન્દ '

In [23]:
# Embedding quote mark within a String.
print ("I Love My Country 'india'")
# print ('I Love My Country 'india'')

I Love My Country 'india'

In [24]:
s1 = "Gujarat\nIndia"
# print(s1)

s2 = "Gujarat\tIndia"
print(s2)

s1

Gujarat	India

'Gujarat\nIndia'

In [25]:
# Write an output of the following code

un ='Gujarat vidhyapith'

# un[0]
# un[0:3]
# un[3:]
# un[-1]
# un[-1:]
# un[-14:]
# un[12:-2]
# un[2:-12]
# un[1:5]
# un[1:5:2]
un[::2]
# un[0::2]
# un[1::2]
# un[::-1] 
# Print reverse string or reversing a string by reading it backwards.
# un.split()

'Gjrtvdypt'

In [26]:
un[0] = 'g'  #True or False

TypeError: 'str' object does not support item assignment

### String Methods

In [28]:
# Convert all letters to uppercase and lowercase.
#un.upper()
#un.lower()
#un.capitalize()

# count
un.count('a')

# index
#un.index('Vid')

# replace all occure-rences of one substring withanother substring.
#s='replace'
#s.replace('s' , 'c')
#s ????????? output

3

In [29]:
# Splits a string into a list of words.
un.split()

['Gujarat', 'vidhyapith']

### Formatting Strings

In [30]:
# "{} {}".format("a" , "b")  # "Replacement fields" {} are filled in order by format.
i , j = 12, 20.5
print ("{} {}".format(i , j))

12 20.5

In [31]:
# The arguments to format can also be identified by position, starting at 0.
i , j = 12, 20.5
print ("{1} {0}".format(i , j))

20.5 12

### Format specifications for the field width and padding are provided after a colon ':'.

In [32]:
print ("{} {}".format("9ab" , 2)) # using a field of width 5  with the default padding.

9ab 2

In [33]:
print ("{:>5} {}".format("9ab" , 2)) # To pad on left, use :>n. n = 5 field width.

  9ab 2

In [34]:
print ("{:<5} {}".format("9ab" , 2)) # To pad on left, use :>n. n = 5 field width.

9ab   2

### Format specifications for numerical data to be neatly printed and aligned.

In [35]:
pi = 3.1416
print("{:5.2f}".format(pi))  # Print pi in a field 5 to 2 decimal places

 3.14

In [36]:
print("{:^10.4f}".format(pi))  # Padding can be combined with other options if the padding is specified.

  3.1416

### Type Conversions

In [37]:
# ints to flots can be cast to complex numbers, but invers is not true
# Example
i = float("10")  # Float is class constructor - this is called casting
i
#type(i)

10.0

### Containers

1. list for lists
2. tuple for tuples
3. range for ranges
4. dict for dictionaries
5. set for sets

### Lists

In [38]:
# Two ways to create a list

l1 = [] # One way - Use square brackets to create a list

l2 = list() # 2nd way - Using list constructor

In [39]:
l3 = [1, 'a', 2.4, True]
l3

[1, 'a', 2.4, True]

In [40]:
# Write the output of following
l3[2]

2.4

In [41]:
len(l3)

4

In [42]:
# What is the output of the following command

# l3
print(l3)
type(list(l3))
# type(l3)

[1, 'a', 2.4, True]

list

In [46]:
# What is the output of following statements

s1 = "gujarat"
# S1[0]
l3[2]
# L3[0]

# What is your conclusion - List is order container

2.4

In [47]:
# What will be output of the following statements 

l3[1] = 'A'
l3[4] = 'Extra'
l3

IndexError: list assignment index out of range

In [48]:
l3.append('new elements')
l3

[1, 'A', 2.4, True, 'new elements']

In [49]:
l3.insert(2,"B")
l3

[1, 'A', 'B', 2.4, True, 'new elements']

In [50]:
l3.remove(1)
l3

['A', 'B', 2.4, True, 'new elements']

In [51]:
l4 = [1,2,3,4]
l4

[1, 2, 3, 4]

In [52]:
l5 = l3 + l4  # Adding two lists makes a new list by concatenation.
l5

['A', 'B', 2.4, True, 'new elements', 1, 2, 3, 4]

In [53]:
l6 = l3 * 3  # Multiplying a list by an integer repeats the list
l6

['A',
 'B',
 2.4,
 True,
 'new elements',
 'A',
 'B',
 2.4,
 True,
 'new elements',
 'A',
 'B',
 2.4,
 True,
 'new elements']

In [54]:
# List slicing, start at position 3, through to the end.
l3[3:]

[True, 'new elements']

In [55]:
# Answer the following question
l3[:-2]

['A', 'B', 2.4]

In [56]:
l3[:len(l3)-2]

['A', 'B', 2.4]

### Quize

1. List slicing, start at position 2, end at position 4.


2. One way to reverse a list.


3. Write an output of l3[:2:-1]

In [57]:
# 1. List slicing, start at position 2, end at position 4.
list = [2, 2.4, 'hii', 'hello', 10, 'abc']
list[2:-1]

['hii', 'hello', 10]

In [58]:
# 2.One way to reverse a list.

list[::-1]

['abc', 10, 'hello', 'hii', 2.4, 2]

In [59]:
# Write an output of l3[:2:-1].
l3 = [1, 'a', 2.4, True]
l3[:2:-1]

[True]

In [60]:
# All elements are string
l4 = ['x', 'k', 's', 'r', 'a']
l4.sort(key = str.lower)
l4

['a', 'k', 'r', 's', 'x']

In [61]:
# All elements are number
l5 = [5, 2, 1, 2, 3, 4.5]
l5.sort()  # Default ascending order
l5

[1, 2, 2, 3, 4.5, 5]

In [62]:
# Reverse keyword is used to sort in descending order.
l5 = [5, 2, 1, 2, 3, 4.5]

sorted(l5, reverse = True)
l5
# Sort can change the original list.

[5, 2, 1, 2, 3, 4.5]

### Quiz

1. Difference bettween sort and sorted method.


2. Find out min and max value from the list.

####  1. Difference bettween sort and sorted method.

The sort() method doesn't return any value. Rather, it changes the original list.

If you want a function to return the sorted list rather than change the original list, use sorted().

                                    or

The sorted() method return the sorted list rather than change the original list.

In [64]:
# 2. Find out min and max value from the list.

list = [2, 2.4, 30,10,80,50]
min(list)
max(list)

80

In [68]:
# List copy
l6 = l5[:]
l6

[5, 2, 1, 2, 3, 4.5]

In [69]:
# If you need to delete element based on the index (Like the fourth element)
l6.pop()
l6

[5, 2, 1, 2, 3]

In [70]:
l6.pop(2)
l6

[5, 2, 2, 3]

In [71]:
l6.pop(-1)
l6

[5, 2, 2]

### Tuple

In [72]:
# Create a tuple
t1 = ('a', 12, 2.5, True)  # Heterogeneous container
t1

('a', 12, 2.5, True)

In [73]:
type(t1)

tuple

In [74]:
t1[2]

2.5

In [75]:
t1[1:]

(12, 2.5, True)

In [76]:
t1[2] = 4

TypeError: 'tuple' object does not support item assignment

<font color=blue> Any comma-separated sequence of values defines a tuple, which can be used to assigning values to multiple variables at a time.

In [78]:
t2 = 1,2,5,'k'

In [79]:
type(t2)

tuple

In [80]:
# A tuple is ordered, like a list, so you can get its values referencing an index values
t2.index('k')

3

In [81]:
# Create a new tuple
t3 = t1 + t2
t3

('a', 12, 2.5, True, 1, 2, 5, 'k')

In [82]:
t4 = t3 * 2  # Repeat n number of times
t4

('a', 12, 2.5, True, 1, 2, 5, 'k', 'a', 12, 2.5, True, 1, 2, 5, 'k')

In [83]:
# 'in' Operator
print('k' in t4)  # You can check if an item is contained into a tuple with the in operator

True

### Quiz

1. Is list allow duplicate elements ?          --->  yes


2. Is tuple allow duplicate elements ?         ---> yes

In [84]:
# 1. Is list allow duplicate elements ?
list1 = [1 , 2, 1]
list1

[1, 2, 1]

In [85]:
# 2. Is tuple allow duplicate elements ?

tuple = (1, 2, 1)
tuple

(1, 2, 1)

### Sets

In [86]:
# Sets are created using curly brackets.
s = {1, 'a', 2}
s

{1, 2, 'a'}

In [87]:
type(s)

set

In [88]:
s1 = set(['l1', 3, 'l3', 3])  # Creating a set from list (note that duplicates are removed).

s1  # Duplicates not allowed

{3, 'l1', 'l3'}

In [89]:
type(s1)

set

In [90]:
# How to create empty set
s3 = set([])
s3

set()

In [91]:
s31 = {}  # Is it empty set ?
s31

{}

In [92]:
type(s31)

dict

In [93]:
type(s3)

set

#### The standard mathematical operations for sets are all built into python

In [94]:
ss1 = {'cat', 'dog', 'cow'}
ss2 = {0, 2, 4, 6, 8}
ss3 = {1, 2, 3, 4, 5}
ss4 = {'cat2', 'dog1', 'dog'}

In [95]:
# Union of two sets
ss1 | ss2

{0, 2, 4, 6, 8, 'cat', 'cow', 'dog'}

In [96]:
ss2 | ss3

{0, 1, 2, 3, 4, 5, 6, 8}

In [97]:
ss1 | ss4

{'cat', 'cat2', 'cow', 'dog', 'dog1'}

In [98]:
ss1 & ss4  # Intersection

{'dog'}

In [99]:
# 'in' Operator
"dog" in ss1

True

In [100]:
ss1 & ss2

set()

In [101]:
# Set difference (Can also use the difference operator).

ss1 - ss4

{'cat', 'cow'}

In [102]:
# What is the output of the following function

ss4 - ss1

{'cat2', 'dog1'}

In [103]:
ss1 - ss2

{'cat', 'cow', 'dog'}

In [104]:
ss2 - ss3

{0, 6, 8}

In [105]:
ss2 ^ ss3   # Symmetric difference (can also use the symmetric difference operator)

{0, 1, 3, 5, 6, 8}

In [110]:
ss5 = {1, 2, 3, 4}
ss6 = {1, 2, 3}
ss6 <= ss5

True

In [107]:
ss6 >= ss5  # Superset

False

In [108]:
len(ss6)

3

In [113]:
type(l6)

list

### Dictionaries

#### Dictionaries are containers where items are accessed by a key.

In [115]:
# Create Dictionary

d1 = {1 : 'Sunday', 2 : 'Monday', 3 : 'tuesday'}   # Note the colon in the key:value pairs.
d1

{1: 'Sunday', 2: 'Monday', 3: 'tuesday'}

In [116]:
d11 = { }   # Creating an empty dict.
d11

{}

In [117]:
d12 = dict()  # Another way to create an empty dictionary 
d12

{}

In [118]:
type(d1)

dict

In [119]:
d1[1]  # dictionary values are accessed using the keys

'Sunday'

In [120]:
# Dictionary values can be changed/update using the "=" assignment operator.

d1[3] = 'Tuesday'
d1

{1: 'Sunday', 2: 'Monday', 3: 'Tuesday'}

In [121]:
# New : value pairs (Adding new items)can be  assigned using the "=" assignment operator.
d1[4] = 'Saturday'
d1

{1: 'Sunday', 2: 'Monday', 3: 'Tuesday', 4: 'Saturday'}

In [122]:
d1.get(7)  # Get return value for key. if key is worng or does not exist get does not return anythings  or default value

In [123]:
# Remove a item
nd = {65 : 'A', 66 : 'B', 67 : 'C', 68 : 'D', 69 : 'E'}
nd

{65: 'A', 66: 'B', 67: 'C', 68: 'D', 69: 'E'}

In [124]:
# Pop() and popitem() function to remove item from dict

nd.pop(67)
nd

{65: 'A', 66: 'B', 68: 'D', 69: 'E'}

In [125]:
# Remove an dictionary item, return (key,value)

nd.popitem()

(69, 'E')

In [126]:
nd.popitem()
nd

{65: 'A', 66: 'B'}

In [127]:
# Remove all items

nd.clear()
nd

{}

In [ ]:
# Delete dict

del nd
nd

### Quiz

1.  Python dictionary is an ______ (ordered/unordered), and ______ collection of items.

2.  Each item of dictionary has a ______ pair.

3.  Write different way to create dict.

4.  Access values, a dictionary uses ______.

5.  If we use the square brackets [], ______ is raised in case a key is not found in the dictionary.

6.  The get() method returns ______ if the key is not found.

1.  Python dictionary is an ______ (ordered/unordered), and ______ collection of items.

    Unordered , immutable

2.  Each item of dictionary has a ______ pair.
    
    Key : value Pairs

3.  Write different way to create dict.

    1 )   d11 = { }
    
    
    2 )  d12 = dict()
    
    3 )  d1 = {1 : 'Sunday', 2 : 'Monday', 3 : 'Tuesday' }

4.  Access values, a dictionary uses ______.

    Key

5.  If we use the square brackets [], ______ is raised in case a key is not found in the dictionary.

    KeyError

6.  The get() method returns ______ if the key is not found.

    None

### Dictionary Methods



<font color=blue> fromkey(seq[,v]) <font color=black> - Returns a new dictionary with keys seq and values equal to v (defaults to None).

In [130]:
# Dictionary Methods

stu_city = {}.fromkeys([12008101, 12008102, 12008103] , 'Rajkot')
stu_city

{12008101: 'Rajkot', 12008102: 'Rajkot', 12008103: 'Rajkot'}

In [131]:
print(stu_city.items())   # Items() return a new object of the dictionary,s items in (key , value)= format.

dict_items([(12008101, 'Rajkot'), (12008102, 'Rajkot'), (12008103, 'Rajkot')])

In [132]:
type(stu_city.items())

dict_items

In [133]:
12008102 in stu_city

True

In [134]:
stu_city.keys()   # Return a new object of the dictionary's keys.

dict_keys([12008101, 12008102, 12008103])

### Python Dictionary Comprehension

In [135]:
# Example to make a dictionary with each item being a pair of a number and its square.
# Dictionary Comprehension

squares = {x : x*x for x in range(6)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

<font color=red> Write code is equivalent to using for loop.

In [136]:
squares = { }
for x in range(6) :
    squares[x] = x*x
    
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [137]:
squares = { }
for x in range(6) :
    squares[x] = x*x
    print(squares)

{0: 0}
{0: 0, 1: 1}
{0: 0, 1: 1, 2: 4}
{0: 0, 1: 1, 2: 4, 3: 9}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [138]:
even_squares = {x : x for x in range(10) if x % 2 != 1}
even_squares

{0: 0, 2: 2, 4: 4, 6: 6, 8: 8}

In [139]:
k = range(5)
print(k)

range(0, 5)

<font color = red> 1. Write code is equivalent to above using for loop and condition.
    
    
<font color = red> 2. Write comprehension for......

In [141]:
# 1. Write code is equivalent to above using for loop and condition.

Even = { }
for x in range(10):
    if x % 2 != 1:
        Even[x] = x
    print(Even)

{0: 0}
{0: 0}
{0: 0, 2: 2}
{0: 0, 2: 2}
{0: 0, 2: 2, 4: 4}
{0: 0, 2: 2, 4: 4}
{0: 0, 2: 2, 4: 4, 6: 6}
{0: 0, 2: 2, 4: 4, 6: 6}
{0: 0, 2: 2, 4: 4, 6: 6, 8: 8}
{0: 0, 2: 2, 4: 4, 6: 6, 8: 8}

In [142]:
# 2. Write comprehension for...... 

# Write a program to addition of  two numbers

num1 = input(" Enter First Number : ")
num2 = input(" Enter Second Number : ")

# Add two numbers
sum = float(num1) + float(num2)

# Display the sum
print(" The sum of {0} and {1} is : {2}".format(num1, num2, sum))

 Enter First Number : 10
 Enter Second Number : 20
 The sum of 10 and 20 is : 30.0

In [143]:
print('The sum is %.1f' %(float(input('Enter first number: ')) + float(input('Enter second number: '))))

Enter first number: 20
Enter second number: 40
The sum is 60.0

In [144]:
# Write a program to find year is leap year or not

year = 2000
if (year % 4) == 0:
   if (year % 100) == 0:
       if (year % 400) == 0:
           print("{0} is a leap year".format(year))
       else:
           print("{0} is not a leap year".format(year))
   else:
       print("{0} is a leap year".format(year))
else:
   print("{0} is not a leap year".format(year))

2000 is a leap year

In [145]:
# Python program to check if the input number is odd or even.

num = int(input("Enter a Number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a Number: 2
2 is Even

In [146]:
# How do i access elements / object from dict_items.

fruits = {1 : 'PineApple' , 2 : 'Orange' , 3 : 'Mango' , 4 : 'Strawberry' , 5 : 'Blackberry'}
type(fruits)

dict

In [147]:
mykeys = [*fruits]          #list of keys
myvals = [*fruits.values()] #list of values

print(mykeys)
print(myvals)

[1, 2, 3, 4, 5]
['PineApple', 'Orange', 'Mango', 'Strawberry', 'Blackberry']

In [148]:
# Can i convert dict_keys into list.

dict.keys(fruits)

dict_keys([1, 2, 3, 4, 5])

In [149]:
Numbers = {1 : 5, 2 : 10, 3 : 15, 4 : 20, 5 : 25, 6 : 30, 7 : 35, 8 : 40, 9 : 45, 10 : 50}
type(Numbers)

dict

In [150]:
Numbers = {1 : 5, 2 : 10, 3 : 15, 4 : 20, 5 : 25, 6 : 30, 7 : 35, 8 : 40, 9 : 45, 10 : 50}

for x in Numbers :
    if x % 5 == 0 :
        print(x)
x = x+1

5
10

### Dictionary Membership Test

In [151]:
# Dictionary membership test using 'in' keyword, 'in' is known as membership operator
print(2 in squares)   # Membership test using key only

True

In [152]:
# We can iterate through each key in a dictionary using a for loop.

for x in squares:
    print(x)

0
1
2
3
4
5

In [153]:
for x in squares:
    print(squares[x])

0
1
4
9
16
25

In [154]:
for x in squares:
    print(x , squares[x])

0 0
1 1
2 4
3 9
4 16
5 25

In [155]:
l1 = sorted(squares)   # Return a new sorted list of keys in the dictionary.

<font color=red> Can you tell me the data type of output ?

In [156]:
type(l1)

list

### Home Work

1. identify operato 'is' and 'is not'...... 


2. Bitwise operator ' left shift, right shift, and , or , not , Xor ,...

In [158]:
x = 20
y = 20
if ( x is y ):
    print ("x & y  SAME identity")
y=30
if ( x is not y ):
    print ("x & y have DIFFERENT identity")

x & y  SAME identity
x & y have DIFFERENT identity

In [159]:
x = 20
y = 20
print(x is y)

True

In [160]:
a = 20
b = 20
print(a is not b)

False

In [161]:
a = [1,2,3,4]
b = [1,2,3,4,4,5]
print( a is not b)

True